@model SeaFood.Models.Customer

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #titleLogin {
        padding-left: 35%;
    }

    #inputLogin {
        width: 30%;
        border-radius: 20px;
        margin-left: 35%;
    }
</style>
</head>
<div  style="margin: 10vh auto; width: 70%; display:flex;flex-direction: column;align-items:center;">
    <h2 style="text-align: center; padding-top: 30px">Đăng ký tài khoản</h2>
    @using (Html.BeginForm("AuthenRegister", "LoginCustomer", FormMethod.Post))
    {
        <table class="table">
            <tr class="mb-3 mt-3">
                <th>@Html.DisplayNameFor(m => m.IDCus)</th>
                <td>@Html.TextBoxFor(m => m.IDCus)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.IDCus)</em>
                </td>
            </tr>
            <tr class="mb-3 mt-3 ">
                <th>@Html.DisplayNameFor(m => m.PhoneCus)</th>
                <td>@Html.TextBoxFor(m => m.PhoneCus)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.PhoneCus)</em>
                </td>
            </tr>
            <tr class="mb-3 mt-3">
                <th>@Html.DisplayNameFor(m => m.NameCus)</th>
                <td>@Html.TextBoxFor(m => m.NameCus)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.NameCus)</em>
                </td>
            </tr>
            <tr class="mb-3">
                <th>@Html.DisplayNameFor(m => m.EmailCus)</th>
                <td>@Html.TextBoxFor(m => m.EmailCus)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.EmailCus)</em>
                </td>
            </tr>
            <tr class="mb-3">
                <th>@Html.DisplayNameFor(m => m.PasswordCus)</th>
                <td>@Html.PasswordFor(m => m.PasswordCus)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.PasswordCus)</em>
                </td>
            </tr>
            <tr class="mb-3">
                <th>@Html.DisplayNameFor(m => m.RePass)</th>
                <td>@Html.PasswordFor(m => m.RePass)</td>
                <td style="color:red;">
                    <em>@Html.ValidationMessageFor(m => m.RePass)</em>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Đăng ký" class="btn btn-success" />
                </td>
            </tr>
        </table>
    }
</div>


